body{
	background: $body-bg;
	font: $font-size $primary-font;
	line-height: 1.3em;
	color: $text-color;
	font-weight: normal;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;	
}

$heading: h1 h2 h3 h4 h5 h6;
@each $head in $heading {
	#{$head} {
		font-weight: normal;
		line-height: 1.4em;	
		font-family: 'Cormorant Garamond', serif;
	}
}

*:focus, *:active{
	outline: none !important;
}

a{
	@include prefixed(transition, all 0.3s linear);
}

img {
  max-width: 100%;
  width: auto\9;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/** WRAPPER and For Responsive nav To work properly
===================================*/
.wrapper{
	width: 100%;
	position: relative;
	.wrapper-inner{
		transition: all 500ms cubic-bezier(0.25, 0.1, 0, 0.95);
		position: relative;
		width: 100%;
		display: block;
		margin-right: 0;
	}
	.mask-wrapper{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba( black, .15 );
		z-index: -1;
		opacity: 0;
		transition: all 350ms ease;
	}
	.wrapper-active{
		margin-right: -60%;
		float: right;
		.mask-wrapper{
			opacity: 1;
			z-index: 11;
		}
	}
	.on-active-right{
		.mask-wrapper{
			opacity: 1;
			z-index: 11;
		}
	}
}

/** SPACE
===================================*/
$spacer:
	( space15, 15px),
	( space20, 20px),
	( space30, 30px),
	( space45, 45px),
	( space60, 60px);
@each $space-name, $space-value in $spacer{
	.#{$space-name}{
		height: $space-value;
		display: block;
		width: 100%;
	}
}

//LOOPING
$color-list-box: #53BBB4 #5CB860 #F9845B #838CC7 #39ADD1 #3079AB #E59A13;
@for $i from 1 through length($color-list-box) {
	.color-box-#{$i} {
		background-color: nth($color-list-box, $i);
	}
}

select {
	&.form-control {
		  background: url('../img/arrow-select.png') calc(100% - 6px) 50% no-repeat;
		  background-color: white;
		  background-size: 9px auto;
		  -moz-appearance: none;
		  -webkit-appearance: none;
		  appearance: none;
	}
}

/** FLEXWRAP
===================================*/
.flex {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-align: center;
	align-items: center;
}

.flex .flex-item {
	/*flex-grow: 1;
      flex-basis: 30%;*/
}


/* Prevent zoom-in input IOS */
@media screen and (-webkit-min-device-pixel-ratio:0) { 
  select,
  textarea,
  input {
    font-size: 16px;
  }
}