/**
 * Variables and Bootstrap overrides
 */
body {
  background: #fff;
  font: 14px "Open Sans", Helvetica, Arial, sans-serif;
  line-height: 1.3em;
  color: #333333;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
}

h1 {
  font-weight: normal;
  line-height: 1.4em;
  font-family: "Cormorant Garamond", serif;
}

h2 {
  font-weight: normal;
  line-height: 1.4em;
  font-family: "Cormorant Garamond", serif;
}

h3 {
  font-weight: normal;
  line-height: 1.4em;
  font-family: "Cormorant Garamond", serif;
}

h4 {
  font-weight: normal;
  line-height: 1.4em;
  font-family: "Cormorant Garamond", serif;
}

h5 {
  font-weight: normal;
  line-height: 1.4em;
  font-family: "Cormorant Garamond", serif;
}

h6 {
  font-weight: normal;
  line-height: 1.4em;
  font-family: "Cormorant Garamond", serif;
}

*:focus, *:active {
  outline: none !important;
}

a {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

img {
  max-width: 100%;
  width: auto\9 ;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/** WRAPPER and For Responsive nav To work properly
===================================*/
.wrapper {
  width: 100%;
  position: relative;
}
.wrapper .wrapper-inner {
  -webkit-transition: all 500ms cubic-bezier(0.25, 0.1, 0, 0.95);
  -o-transition: all 500ms cubic-bezier(0.25, 0.1, 0, 0.95);
  transition: all 500ms cubic-bezier(0.25, 0.1, 0, 0.95);
  position: relative;
  width: 100%;
  display: block;
  margin-right: 0;
}
.wrapper .mask-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: -1;
  opacity: 0;
  -webkit-transition: all 350ms ease;
  -o-transition: all 350ms ease;
  transition: all 350ms ease;
}
.wrapper .wrapper-active {
  margin-right: -60%;
  float: right;
}
.wrapper .wrapper-active .mask-wrapper {
  opacity: 1;
  z-index: 11;
}
.wrapper .on-active-right .mask-wrapper {
  opacity: 1;
  z-index: 11;
}

/** SPACE
===================================*/
.space15 {
  height: 15px;
  display: block;
  width: 100%;
}

.space20 {
  height: 20px;
  display: block;
  width: 100%;
}

.space30 {
  height: 30px;
  display: block;
  width: 100%;
}

.space45 {
  height: 45px;
  display: block;
  width: 100%;
}

.space60 {
  height: 60px;
  display: block;
  width: 100%;
}

.color-box-1 {
  background-color: #53BBB4;
}

.color-box-2 {
  background-color: #5CB860;
}

.color-box-3 {
  background-color: #F9845B;
}

.color-box-4 {
  background-color: #838CC7;
}

.color-box-5 {
  background-color: #39ADD1;
}

.color-box-6 {
  background-color: #3079AB;
}

.color-box-7 {
  background-color: #E59A13;
}

select.form-control {
  background: url("../img/arrow-select.png") calc(100% - 6px) 50% no-repeat;
  background-color: white;
  background-size: 9px auto;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

/** FLEXWRAP
===================================*/
.flex {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-flow: row wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
}

.flex .flex-item {
  /*flex-grow: 1;
       flex-basis: 30%;*/
}

/* Prevent zoom-in input IOS */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select,
textarea,
input {
    font-size: 16px;
  }
}
/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter, div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
a img.alignnone {
  margin: 5px 20px 20px 0;
}
a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}
.wp-caption.alignnone, .wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}
.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}
.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  white-space: nowrap;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}